* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  body {
    background: #000;
    color: #fff;
  }

  header img {
    width: 250px;
    padding: 20px;
  }
  .writeup h2{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
  }

  .images{
    display: flex;
    padding: 10px 5% 10px;
    gap: 2rem;
    
  }

  .images img{
    width: 210px;
    cursor: pointer;
    
  }

  .images p{
    text-align: center;
    color: #777;
  }


    .button{
        display: flex;
        align-items: center;
        background: transparent;
        border: 1px solid #777;
        color: #777;
        padding: 5px 5px;
        cursor: pointer;
       
    }


    .button-container{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 30px;
        
    }
    
   
    @media only screen and (max-width: 767px) {
      header img {
        width: 150px; 
        padding: 10px; 
      }
      
      .writeup h2 {
        font-size: 24px; 
      }
      
      .images {
        display: block; 
        padding: 10px; 
      }
      
      .images img {
        width: 100%; 
        margin: 0 auto; 
      }
      
      .images p {
        text-align: center; 
        margin-top: 10px; 
      }
      
      .button {
        justify-content: center; 
        padding: 10px; 
      }
      
      .button-container {
        padding: 20px; 
      }
  }